In [1]:
import pandas as pd
import numpy as np

### Group By

In [3]:
data = {

    'Category' : ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'], 
    'Store' : ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales' : [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity' : [10, 15, 12, 18, 8, 20, 15, 25],
    'Date' : pd.date_range('2023-01-01', periods =8)
}

df = pd.DataFrame(data)

In [4]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [7]:
#Group by category and calculate the sum of sales
category = df.groupby('Category')['Sales'].sum()
category

Category
A    570
B    930
Name: Sales, dtype: int64

In [9]:
# Group by store and calulate sum of sales
store = df.groupby('Store') ['Sales'].sum()
store

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [10]:
#Group by multiple columns
category_and_store = df.groupby(['Category', 'Store']) ['Sales'].sum()
category_and_store

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

### Aggregation

In [11]:
df['Sales'].mean()

np.float64(187.5)

In [12]:
df['Sales'].median()

190.0

In [13]:
df['Sales'].mode()

0    200
Name: Sales, dtype: int64

In [14]:
df['Sales'].min()

100

In [15]:
df['Sales'].max()

300

In [16]:
df['Sales'].count()

np.int64(8)

In [17]:
df['Sales'].std() #Standard Deviation

66.06274074155351

In [18]:
df['Sales'].var() #Variance

4364.285714285715

In [21]:
df['Sales'].agg(['mean', 'median', 'min', 'max', 'count'])

mean      187.5
median    190.0
min       100.0
max       300.0
count       8.0
Name: Sales, dtype: float64